.task-list-item
  display: flex
  justify-content: space-between
  align-items: center
  height: 55px
  .main
    margin-left: 25px
  .actions
    margin-right: 20px
    button
      margin: 5px


.incomplete
  background-color: hsla(0, 70%, 80%, .6)

.complete
  background-color: hsla(180, 70%, 80%, .6)